{{ define "main" }}
<!--  
<article class="single-post">
    <h1 class="entry-title mt-4 mb-4">{{ .Title }}</h1>
    <div class="post-meta mb-4">
        <span class="post-author">Posted by: {{ .Params.author }}</span>
        <span class="post-date">
            <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
        </span>
        <span class="post-tags">
            {{ range (.GetTerms "tags") }}
                <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        </span>
    </div>
    <div class="entry-content">{{ .Content }}</div>
</article>-->

<article class="bg-white">
    <br>
    <section class="container">
        <!-- TIME -->
        <div class="time">
            <time class="italic text-2xl">{{dateFormat .Site.Params.dateFormat .Date}}</time>
        </div>
        <!-- TAGS -->
        <div class="tags my-4">
            {{range (.GetTerms "tags")}}
            <div class="chip cyan lighten-3 hoverable">
                    <a href="{{.Permalink}}">{{.LinkTitle}}</a>    
            </div>
            {{end}}
        </div>
        <p>{{.Content}}</p>
        <br>
    </section>
</article>
{{ end }}